<a href="https://colab.research.google.com/github/EmmanuelOoko/pHChlorine/blob/main/chlorine_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib as plt
from matplotlib import image as img
import cv2 as cv
import pandas as pd

# **Free Chlorine 1.0 Manipulation**

In [3]:
fcl_1b = pd.read_csv("/content/chlorine_data/fcl_1.0_rgb.csv")
fcl_1v = pd.read_csv("/content/chlorine_data/fcl_1.0_hsv.csv")
fcl_1b

       Unnamed: 0       red      blue     green  chlorine
0               0  0.541176  0.556863  0.564706       1.0
1               1  0.533333  0.549020  0.552941       1.0
2               2  0.533333  0.549020  0.552941       1.0
3               3  0.533333  0.549020  0.552941       1.0
4               4  0.525490  0.541176  0.549020       1.0
...           ...       ...       ...       ...       ...
17441       17441  0.498039  0.517647  0.521569       1.0
17442       17442  0.509804  0.509804  0.517647       1.0
17443       17443  0.517647  0.513725  0.521569       1.0
17444       17444  0.505882  0.521569  0.525490       1.0
17445       17445  0.498039  0.517647  0.521569       1.0

[17446 rows x 5 columns]

In [4]:
fcl_1b.drop(['Unnamed: 0', 'chlorine'],  axis=1, inplace=True)
fcl_1b.drop(fcl_1b.index[1200:], inplace=True)
fcl_1b.describe()

               red         blue        green
count  1200.000000  1200.000000  1200.000000
mean      0.524454     0.541458     0.551866
std       0.010210     0.008173     0.008125
min       0.505882     0.521569     0.529412
25%       0.517647     0.537255     0.545098
50%       0.521569     0.541176     0.552941
75%       0.533333     0.545098     0.556863
max       0.560784     0.568627     0.584314

In [5]:
fcl_1v.drop(['Unnamed: 0'],  axis=1, inplace=True)
fcl_1v.rename(columns={'lumination':'value'}, inplace=True)
fcl_1v.drop(fcl_1v.index[1200:], inplace=True)
fcl_1v.describe()
fcl_1v

            hue  saturation     value  chlorine
0     200.00020    0.041667  0.564706       1.0
1     192.00029    0.035461  0.552941       1.0
2     192.00029    0.035461  0.552941       1.0
3     192.00029    0.035461  0.552941       1.0
4     200.00020    0.042857  0.549020       1.0
...         ...         ...       ...       ...
1195  200.00020    0.043165  0.545098       1.0
1196  200.00020    0.043478  0.541176       1.0
1197  200.00020    0.043478  0.541176       1.0
1198  200.00020    0.043165  0.545098       1.0
1199  200.00020    0.043478  0.541176       1.0

[1200 rows x 4 columns]

In [8]:
fcl1 = pd.DataFrame()
fcl1 = pd.concat([fcl_1b, fcl_1v], axis=1)
fcl1.to_csv('/content/chlorine_data/fcl1.csv')
fcl1

           red      blue     green        hue  saturation     value  chlorine
0     0.541176  0.556863  0.564706  200.00020    0.041667  0.564706       1.0
1     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
2     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
3     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
4     0.525490  0.541176  0.549020  200.00020    0.042857  0.549020       1.0
...        ...       ...       ...        ...         ...       ...       ...
1195  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
1196  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
1197  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
1198  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
1199  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0

[1200 rows x 7 columns]

# **Free Chlorine 3.0 Manipulation**

In [9]:
fcl_3b = pd.read_csv("/content/chlorine_data/fcl_3.0_rgb.csv")
fcl_3v = pd.read_csv("/content/chlorine_data/fcl_3.0_hsv.csv")

In [10]:
fcl_3b.drop(['Unnamed: 0', 'chlorine'],  axis=1, inplace=True)
fcl_3b.drop(fcl_3b.index[1200:], inplace=True)
fcl_3b.describe()

               red         blue        green
count  1200.000000  1200.000000  1200.000000
mean      0.552578     0.503049     0.567997
std       0.016189     0.017886     0.012810
min       0.513725     0.474510     0.537255
25%       0.541176     0.486274     0.560784
50%       0.549020     0.501961     0.564706
75%       0.560784     0.517647     0.576471
max       0.611765     0.545098     0.603922

In [11]:
fcl_3v.drop(['Unnamed: 0'],  axis=1, inplace=True)
fcl_3v.rename(columns={'lumination':'value'}, inplace=True)
fcl_3v.drop(fcl_3v.index[1200:], inplace=True)
fcl_3v.describe()
fcl_3v

            hue  saturation     value  chlorine
0     300.00015    0.086093  0.592157       3.0
1     300.00015    0.086093  0.592157       3.0
2     300.00012    0.093960  0.584314       3.0
3     300.00012    0.093960  0.584314       3.0
4     300.00012    0.094595  0.580392       3.0
...         ...         ...       ...       ...
1195  280.79996    0.171233  0.572549       3.0
1196  280.79996    0.171233  0.572549       3.0
1197  285.71423    0.146853  0.560784       3.0
1198  285.71423    0.146853  0.560784       3.0
1199  288.57135    0.145833  0.564706       3.0

[1200 rows x 4 columns]

In [12]:
fcl3 = pd.DataFrame()
fcl3 = pd.concat([fcl_1b, fcl_1v], axis=1)
fcl3.to_csv('/content/chlorine_data/fcl3.csv')
fcl3

           red      blue     green        hue  saturation     value  chlorine
0     0.541176  0.556863  0.564706  200.00020    0.041667  0.564706       1.0
1     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
2     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
3     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
4     0.525490  0.541176  0.549020  200.00020    0.042857  0.549020       1.0
...        ...       ...       ...        ...         ...       ...       ...
1195  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
1196  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
1197  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
1198  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
1199  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0

[1200 rows x 7 columns]

# **Free Chlorine 1.5 Manipulation**

In [13]:
fcl_15b = pd.read_csv("/content/chlorine_data/fcl_1.5_rgb.csv")
fcl_15v = pd.read_csv("/content/chlorine_data/fcl_1.5_hsv.csv")

In [14]:
fcl_15b.drop(['Unnamed: 0', 'chlorine'],  axis=1, inplace=True)
fcl_15b.drop(fcl_15b.index[1200:], inplace=True)
fcl_15b.describe()

               red         blue        green
count  1200.000000  1200.000000  1200.000000
mean      0.510585     0.478876     0.534108
std       0.012989     0.014754     0.011254
min       0.482353     0.450980     0.501961
25%       0.498039     0.466667     0.529412
50%       0.509804     0.478431     0.533333
75%       0.521569     0.490196     0.541176
max       0.541176     0.521569     0.560784

In [15]:
fcl_15v.drop(['Unnamed: 0'],  axis=1, inplace=True)
fcl_15v.rename(columns={'lumination':'value'}, inplace=True)
fcl_15v.drop(fcl_15v.index[1200:], inplace=True)
fcl_15v.describe()
fcl_15v

            hue  saturation     value  chlorine
0     273.33328    0.126761  0.556863       1.5
1     273.33328    0.126761  0.556863       1.5
2     273.33328    0.126761  0.556863       1.5
3     273.33328    0.126761  0.556863       1.5
4     275.29407    0.121429  0.549020       1.5
...         ...         ...       ...       ...
1195  276.66663    0.132353  0.533333       1.5
1196  287.36835    0.140741  0.529412       1.5
1197  287.36835    0.140741  0.529412       1.5
1198  285.71423    0.154412  0.533333       1.5
1199  285.71423    0.154412  0.533333       1.5

[1200 rows x 4 columns]

In [16]:
fcl15 = pd.DataFrame()
fcl15 = pd.concat([fcl_1b, fcl_1v], axis=1)
fcl15.to_csv('/content/chlorine_data/fcl1.5.csv')
fcl15

           red      blue     green        hue  saturation     value  chlorine
0     0.541176  0.556863  0.564706  200.00020    0.041667  0.564706       1.0
1     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
2     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
3     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
4     0.525490  0.541176  0.549020  200.00020    0.042857  0.549020       1.0
...        ...       ...       ...        ...         ...       ...       ...
1195  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
1196  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
1197  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
1198  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
1199  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0

[1200 rows x 7 columns]

# **Free Chlorine 0.6 Manipulation**

In [17]:
fcl_6b = pd.read_csv("/content/chlorine_data/fcl_0.6_rgb.csv")
fcl_6v = pd.read_csv("/content/chlorine_data/fcl_0.6_hsv.csv")

In [18]:
fcl_6b.drop(['Unnamed: 0', 'chlorine'],  axis=1, inplace=True)
fcl_6b.drop(fcl_6b.index[1200:], inplace=True)
fcl_6b.describe()

               red         blue        green
count  1200.000000  1200.000000  1200.000000
mean      0.534944     0.555562     0.563663
std       0.010165     0.007903     0.008047
min       0.498039     0.537255     0.545098
25%       0.529412     0.549020     0.556863
50%       0.537255     0.556863     0.564706
75%       0.541176     0.560784     0.568627
max       0.576471     0.576471     0.584314

In [19]:
fcl_6v.drop(['Unnamed: 0'],  axis=1, inplace=True)
fcl_6v.rename(columns={'lumination':'value'}, inplace=True)
fcl_6v.drop(fcl_6v.index[1200:], inplace=True)
fcl_6v.describe()
fcl_6v

            hue  saturation     value  chlorine
0     214.28583    0.047945  0.572549       0.6
1     200.00020    0.041379  0.568627       0.6
2     200.00020    0.041667  0.564706       0.6
3     214.28583    0.047945  0.572549       0.6
4     214.28583    0.048276  0.568627       0.6
...         ...         ...       ...       ...
1195  214.28583    0.048611  0.564706       0.6
1196  214.28583    0.048951  0.560784       0.6
1197  214.28583    0.048951  0.560784       0.6
1198  214.28583    0.048951  0.560784       0.6
1199  169.99988    0.083916  0.560784       0.6

[1200 rows x 4 columns]

In [20]:
fcl6 = pd.DataFrame()
fcl6 = pd.concat([fcl_1b, fcl_1v], axis=1)
fcl6.to_csv('/content/chlorine_data/fcl0.6.csv')
fcl6

           red      blue     green        hue  saturation     value  chlorine
0     0.541176  0.556863  0.564706  200.00020    0.041667  0.564706       1.0
1     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
2     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
3     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
4     0.525490  0.541176  0.549020  200.00020    0.042857  0.549020       1.0
...        ...       ...       ...        ...         ...       ...       ...
1195  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
1196  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
1197  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
1198  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
1199  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0

[1200 rows x 7 columns]

# **Finalizing Chlorine Dataset**

In [23]:
matokeo = pd.DataFrame()
matokeo = pd.concat([fcl6, fcl3, fcl1, fcl15], ignore_index=True)
matokeo

           red      blue     green        hue  saturation     value  chlorine
0     0.541176  0.556863  0.564706  200.00020    0.041667  0.564706       1.0
1     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
2     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
3     0.533333  0.549020  0.552941  192.00029    0.035461  0.552941       1.0
4     0.525490  0.541176  0.549020  200.00020    0.042857  0.549020       1.0
...        ...       ...       ...        ...         ...       ...       ...
4795  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
4796  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
4797  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0
4798  0.521569  0.537255  0.545098  200.00020    0.043165  0.545098       1.0
4799  0.517647  0.533333  0.541176  200.00020    0.043478  0.541176       1.0

[4800 rows x 7 columns]

In [25]:
matokeo.to_csv('/content/chlorine_data/fcl_dataset.csv')